@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --orange:#2e07a2;
    --white-color:#fff;
    --black-color:#333;
    --light-color:rgba(0,0,0,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:.2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7.5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:var(--white-color);
}

html::-webkit-scrollbar-thumb{
    background:var(--black-color);
    border-radius: 5rem;
}

body{
    background:#eee;
}

body.active{
    --white-color:#111;
    --black-color:#fff;
    --light-color:rgba(255,255,255,.3);
    background:#222;
}

section{
    padding:1rem 9%;
}
.li {
    width: 50px;
}

.heading{
    padding:5%;
    margin-bottom: 2rem;
    font-size: 3rem;

    color:var(--black-color);
    text-transform: uppercase;
}

.heading span{
    color:var(--orange);
    text-transform: uppercase;
}
.heading a {
    font-size: small;
    
    padding: 10px;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--black-color);
    color:var(--white-color);
    font-size: 1.8rem;
    padding:.9rem 3.5rem;
    cursor: pointer;
}

.btn:hover{
    background:var(--orange);
    color:#fff;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white-color);
    border-bottom: .1rem solid var(--light-color);
    padding:1.5rem 9%;
    
}

header .logo{
    text-transform: uppercase;
    font-weight: bolder;
    color:var(--black-color);
    font-size: 3rem;
    padding-bottom: 5px;
}

header .logo span{
    color:var(--orange);
}

header form{
    display: flex;
    align-items: center;
    width: 40rem;
    border-radius: 5rem;
    height: 0rem;
    background: var(--black-color);
    overflow:hidden;
    
    
}

header form input{
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.7rem;
    color:var(--white-color);
    padding:0 2rem;
    text-transform: none;
    
}

header form label{
    font-size: 2rem;
    padding-right: 2rem;
    color:var(--white-color);
    cursor: pointer;
    
}

header form label:hover{
    color:var(--orange);
}

header .icons div,
header .icons a{
    height: 4rem;
    width: 4rem;
    font-size: 1.7rem;
    line-height: 4rem;
    background: var(--black-color);
    color:var(--white-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: .7rem;
    
    
}

header .icons div:hover,
header .icons a:hover{
    background: var(--orange);
    color:#fff;
    transform: rotate(360deg);
    
}

header.active{
    position: fixed;
    top:0; left: 0;
    z-index: 100;
}



.navbar{
    position: fixed;
    top:0; left: -120%;
    z-index: 1000;
    height: 100%;
    background: var(--white-color);
    padding:3rem;
    width: 30rem;
    text-transform: capitalize;
    
}

.navbar.active{
    left: 0;
    box-shadow: 0 0 0 100vw var(--light-color);
}

.navbar .user{
    text-align: center;
    margin:3rem auto;
}

.navbar .user img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border:.5rem solid var(--white-color);
    object-fit: cover;
    box-shadow: 5rem 2rem 0 -3rem var(--orange),
                -5rem -2rem 0 -3rem var(--orange);
    
}
.navbar .user span{
    color:var(--orange);
}
.navbar .user h3{
    padding-top: .5rem;
    color:var(--black-color);
    font-weight: 500;
    font-size: 2rem;
}

.navbar .links a{
    display: block;
    border-bottom: .1rem solid var(--light-color);
    font-size: 2rem;
    padding:1.5rem 0;
    color:var(--black-color);
}

.navbar .links a:last-child{
    border: none;
}

.navbar .links a:hover{
    letter-spacing: .2rem;
    color:var(--orange);
}

.navbar #close{
    position: absolute;
    top:1rem; right:2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--black-color);
}

.navbar #close:hover{
    color: var(--orange);
}
.navbar #theme-toggler{
    position: absolute;
    top:5rem; right:2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black-color);
}

.navbar #theme-toggler:hover{
    color: var(--orange);
}
.products .product-slide .slid{
    background:var(--white-color);
    border-radius: 2rem;
    border:0.1rem solid var(--light-color);
    padding-bottom: 2rem;
    text-transform: capitalize;
    width: 32%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;

}


.products .product-slide .slid .image{
    padding:rem;
    width: 100%;
}

.products .product-slide .slid .image img{
    height: 25rem;
    width: 100%;
    border-radius: 2rem;

    object-fit: cover;
    
}

.products .product-slide .slid .content h3{
    color:var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding:.5rem 0;
    height: 13rem;
    
}
.products .product-slide .slid .content .price{
    color:var(--orange);
    font-weight: bolder;
    font-size: 2.5rem;
    padding:.5rem 0;
    
}




@media (max-width:991px){
    body{
        overflow-x: hidden;
        position: relative;
    }
    html{
        font-size: 55%;
    }

    header{
        padding:1.5rem;
    }

    section{
        padding:1.5rem;
    }

    .home .row .content h3{
        font-size: 5rem;
    }

}

@media (max-width:768px){
    body{
        overflow-x: hidden;
        position: relative;
    }
    

    header form{
        width:100%;
        margin:2rem 0;
    }

    header.active{
        transform: translateY(-0.5rem);
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .image img{
        width: 100%;
    }

}

@media (max-width:450px){
    body{
        overflow-x: hidden;
        position: relative;
    }
    html{
        font-size: 50%;
    }

    .heading{
        text-align: center;
        font-size: 2.5rem;
        border-bottom: none;
    }

}
@media (max-width:390px){
    body{
        overflow-x: hidden;
        position: relative;
    }
}

@media (min-width: 576px) { body{
    overflow-x: hidden;
    position: relative;
} }


@media (min-width: 768px) { body{
    overflow-x: hidden;
    position: relative;
} }


@media (min-width: 992px) { body{
    overflow-x: hidden;
    position: relative;
} }


@media (min-width: 1200px) { body{
    overflow-x: hidden;
    position: relative;
} }


@media (min-width: 1400px) { body{
    overflow-x: hidden;
    position: relative;
} }